.home {
  display: grid;
  place-items: center;
  background-color: rgb(162, 255, 255);
}

.home__container {
  display: flex;
  width: 100%;
  justify-content: space-around;

  & div {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
  }
}

.home__companies {
}

.home__container {
}
